/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/** UTILS */

.row {
    height: 100%;
}

.round{
    border-radius: 50%;
}

.selected-v{
    border-left: yellowgreen 3px solid;
}

.bg-grey{
    background-color: #B3B3B3;
}

/* TEXT */

.cap {
    text-transform: uppercase;
}

.text-white {
    color: white;
}

.text-grey {
    color: lightgray;
}

.w-100 {
    width: 100%;
}



/* FLEX */

.flex-c {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.nw {
    flex-wrap: nowrap;
}

.f-shrink {
    flex-shrink: 1;
}

/* PADDING */

.p-5{
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pt-70 {
    padding-top: 70px;
}

.pl-50 {
    padding-left: 50px;
}

.h-20 {
    height: 100%
}

.h-40 {
    height: 40px;
    width: 40px;
}

/* MARGIN */

.ml-10 {
    margin-left: 10px;
}

.mtb-15 {
    margin: 15px 0;
}

/* Generics */

span {
    display: inline-block;
}

.br-50 {
    border-radius: 50%;
}

.rel {
    position: relative;
}

.overflow-auto {
    overflow-y: auto;
}

/** HEADER*/

header {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    background-color: rgba(0, 0, 0, .5);
    width: calc(100% - 200px);
    z-index: 1;
}

[alt="logo-big"]{
    animation: open 1s ease-in;
}

@keyframes open {
    from {
        position: relative;
        left:-100px;
    }
    to{
        position:relative;
        left:0; 
    }
}

.btn-upgrade {
    padding: 8px 15px;
    border: 1px white solid;
    border-radius: 15px;
    align-self: center;
    margin-right: 25px;
    cursor: pointer;
    animation: subscribe 1s 5 alternate forwards ;
}

@keyframes subscribe{
    from {
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}


.btn-upgrade:hover {
    color: white;
    transform: scale(1.1);
}

/** MAIN - NAV */

[alt="logo-big"] {
    height: 50px;
}

nav {
    height: calc(100vh - 70px);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

nav .content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

nav img {
    height: 30px;
    margin: 5px;
    cursor: pointer
}

.separator {
    width: 50%;
    height: 1px;
    background-color: yellowgreen;
    margin: 0 auto;
}

main {
    background-color: #0C1C24;
    color: white;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    width: 100vw;
}

img {
    max-width: 100%;
}

.selected {
    width: 25%;
    background-color: greenyellow;
    height: 2px;
    margin: 0 auto;
}

.sec-title {
    margin: 40px 0;
}

.card {
    border: 5px solid transparent;
}

.card .description h3 {
    margin: 15px 0;
}

.card .description h6 {
    color: #B3B3B3;
    font-weight: 300;
}

.description {
    text-align: center;
}

.card:hover .cover {
    animation: moveup .5s ease-out forwards;
}

@keyframes moveup {
    from {
        position: relative;
        bottom: 0;
    }
    to {
        position: relative;
        bottom: 10px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.icon-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cover:hover .overlay {
    display: block;
}

/** FOOTER AKA PLAYER */

footer {
    height: 70px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
}

.song, .artist {
    font-size: 0.6em;
    color: grey;
}

.song-info {
    margin-left: 5px;
}

.favorite {
    margin-left: 10px;
}

.bar {
    height: 5px;
    border-radius: 10px;
    width: 60%;
    background-color: grey;
}

.progress {
    height: 5px;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.progress:hover {
    background-color: yellowgreen;
}

.bar:hover .ball {
    display: block;
}

.ball {
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -15px;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.volume {
    height: 5px;
    border-radius: 10px;
    width: 40%;
    background-color: grey;
    margin-right: 5px;
    cursor: pointer;
}

.volume:hover .ball {
    display: block;
}

.playlist:hover, nav .menu:hover, .top-menu span:hover, .btn-play:hover {
    color: greenyellow;
    cursor: pointer;
}

.playlist-sec {
    min-height: 200px;
}

.play-listing {
    overflow-y: auto;
    height: 30vh;
    max-height: 50vh;
}

footer i:hover {
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

/** MEDIA QUERIES **/

@media screen and (max-width:575px) {
    [alt="logo-big"] {
        display: none;
    }
    nav span {
        display: none;
    }
    nav {
        align-items: center;
    }
    .playlist-sec {
        display: none;
    }
    /* body {
        font-size: 1.2em;
    } */
    .separator {
        display: none;
    }

    .cover{
        overflow-y: auto;
        min-height:100%; 
        max-height: 30vh;

    }
}

@media screen and (min-width:576px) {
    body {
        font-size: 0.9em;
    }
    nav {
        align-items: flex-start;
        justify-content: flex-start;
        width: 200px;
    }
    [alt="logo-small"] {
        display: none;
    }
    nav .content {
        align-items: flex-start;
    }
    nav .content.flex-c {
        align-items: flex-start;
    }
    .play-listing {
        overflow-y: auto;
        min-height: 30%;
        max-height: 100%;
    }
}

@media screen and (min-width:992px) {
    body {
        font-size: 0.9em;
    }
    nav {
        width: 200px;
    }
}

@media screen and (min-width:1200px) {
    body {
        font-size: 0.9em;
    }
    nav {
        width: 200px;
    }
}