/* * Reset * */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/** UTILS */

.text-white {
    color: white;
}

.row {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.pt-70 {
    padding-top: 70px;
}

.h-20 {
    height: 100%
}

.h-30 {
    height: 30px;
    width: 30px;
}

.p-10 {
    padding: 10px;
}

.pl-50 {
    padding-left: 50px;
}

t-r{
    text-align: left;
}

span {
    display: inline-block;
}

/** HEADER*/

header {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    background-color: rgba(0, 0, 0, .5)
}

.btn-upgrade {
    padding: 8px 15px;
    border: 1px white solid;
    color: white;
    border-radius: 15px;
    align-self: center;
    margin-right: 10px;
}

.btn-play{
    flex-wrap: nowrap;
}

.playlist{
    padding: 10px; }

/** MAIN - NAV */

nav {
    height: calc(100vh - 70px);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

nav .content {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

nav img {
    height: 30px;
    margin: 5px;
    cursor: pointer
}

main {
    background-color: #303134;
    color: white;
    height: calc(100% - 50px);
}

img {
    width: 100%;
}

.card {
    border: 5px solid transparent;
}

.description {
    text-align: center;
}

/** FOOTER AKA PLAYER */

footer {
    height: 70px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

.song, .artist {
    font-size: 0.5em;
    color: grey;
}

.song-info {
    margin-left: 5px;
}

.favorite {
    margin-left: 5px;
}

.bar {
    height: 5px;
    border-radius: 10px;
    width: 60%;
    background-color: grey;
    overflow: hidden;
}

.progress {
    height: 5px;
    width: 25%;
    background-color: white;
}

.volume {
    height: 5px;
    border-radius: 10px;
    width: 40%;
    background-color: grey;
    margin-right: 5px;
    overflow: hidden;
}

.state {
    width: 20%;
}

@media screen and (max-width:575px) {
    [alt="logo-big"]{
        display: none;
    }
    nav span{
        display:none;
    }
    nav{
        align-items:center;
    }   
    .playlist-sec{
        display:none; 
    }
}

@media screen and (min-width:576px) {
    nav {
        align-items: flex-start;
        justify-content: flex-start;
    }
    [alt="logo-small"] {
        display: none;
    }
    hr{
        display:none; 
    }
    
    nav .content{
    align-items: flex-start;
    }
    nav .content.flex-c{
    align-items: flex-start;
    }
    hr{
        color:white; 
        width:50%
    }
}

